/* Estilos CSS */

.color1 {color: #2d2047;}
.color2 {color: #533449;}
.color3 {color: #a28e88;}
.color4 {color: #d8d2c5;}
.color5 {color: #f5f4f2;}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #d8d2c5;
}

h1 {
  font-weight: 900;
  font-size: 30pt;
  text-align: center;
}

h2 {
  font-weight: 900;
  font-size: 25pt;
  text-align: center;
  margin: 40px;
}

h3 {
  font-weight: 900;
  font-size: 20pt;
  text-align: center;
  margin: 25px;
}

img {
  margin: 0px auto 30px auto;
  width: 200px;
  border: 2px solid #533449;
  box-shadow: 3px 3px 5px #2d2047;
}

img:hover {
  border-radius: 50%;
  width: 50%;
  transition: all 0.5s ease-in-out 0s;
}

p {
  display: inline-block;
  text-align: justify;
}

.menu {
  position: fixed;
  padding: 15px;
  background-color: #2d2047;
  width: 100%;
}

.menu li {
  margin-left: 50px;
  display: inline-block;
  color: #f5f4f2;
}

.header {
  padding-top: 80px;
  padding-bottom: 20px;
}

.main-content {
  margin: 20px;
  border: 3px double #533449;
  padding: 0 10px;
  padding-bottom: 30px;
}

.article {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  line-height: 20px;
}
