* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  background-color: #928f8f;
  width: 60%;
  margin: 20px auto;
  border: 2px solid #fdfdfd;
  border-radius: 20px;
}

header{
  margin-top: 40px;
}

header h1 {
  text-align: center;
}

form {
  margin: 0px 50px;
}

.fieldset {
  background-color: #c5c5c5;
  margin: 40px 0px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

select {
  font-size: 10pt;
}

label {
  font-size: 12pt;
  font-weight: 600;
}

input {
  font-size: 10pt;
  padding: 2px;
}

input[type='text'] , input[type='email'] {
  border-radius: 3px;
  width: 100%;
}

textarea {
  width: 100%;
}

.container-block {
  margin: 20px;
}

button {
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}